@media screen and (min-width: 320px) {
  .page-header .container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .page-header {
    border-bottom: 1px;
    background-color: var(--color-white);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container-header {
    display: flex;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }
  .logo-type-web {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-right: 76px;
    display: flex;
    padding: 24px 0;
    width: 115px;
    height: 24px;
    margin-bottom: 25px;
    padding-left: 16px;
  }

  .span-studio {
    color: var(--color-navy-blue);
  }
  /* LINKS-HEADER */

  .list {
    list-style: none;
  }

  .list-nav {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bunnot-submite {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    color: var(--color-white);
    background-color: var(--color-iris);
    border: solid 1px;
    border-color: #4d5ae5;
    padding-right: 16px;
    padding-left: 24px;
    padding-bottom: 8px;
    min-width: 165px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
  }
  .icon-telegramm {
    margin-left: 16px;
    padding-top: 7px;
  }
  .nav-link {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
  }

  .link {
    text-decoration: none;
  }
  .link:hover {
    color: var(--color-ocean);
  }
  .link:focus {
    color: var(--color-ocean);
  }
  .current {
    color: var(--color-ocean);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: var(--color-ocean);
    margin-top: 20px;
  }
  ADRESS .page-adress {
    font-style: normal;
  }

  .list-adress {
    list-style: none;
    display: none;
    gap: 40px;
  }

  .text-adress {
    font-family: var(--primary-font);
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-open-btn {
    margin-left: auto;
    display: flex;
    background-color: var(--color-white);
  }
  .icon-mob-open {
    color: var(--color-navy-blue);
  }
  .mob-menu {
    background-color: var(--color-white);
    z-index: 20;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  .menu-window {
    background: #fcfcfc;
    border-radius: 4px;
  }
  .menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-nav {
    margin-bottom: 40px;
  }
  .mob-menu-link-studio {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--color-navy-blue);
    width: 148px;
    height: 40px;
    text-decoration: none;
    color: var(--color-ocean);
    margin-bottom: 40px;
  }

  .mob-adress {
    list-style: none;
    margin-bottom: 40px;
  }
  .mob-menu-link {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--color-navy-blue);
    width: 148px;
    height: 40px;
    text-decoration: none;
  }

  .link-mob-adress {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-iris);
    text-decoration: none;
  }
  .link-mob-mail-adress {
    text-decoration: none;
    font-weight: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #434455;
  }
  .mob-social-list {
    display: flex;
    list-style: none;
    gap: 56px;
  }
  .icon-mob {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-iris);
  }
  .section-title {
    font-family: var(--primary-font);
    color: var(--color-white);
    /* font-size: 56px; */
    /* line-height: 1.07; */
    letter-spacing: 0.02em;
    text-align: center;
    width: 320px;
    height: 80px;
    margin: auto;
    /* max-width: 496px; */
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 36px;
  }
  .section-page-two {
    padding: 96px 0;
  }
}

@media screen and (min-width: 428px) {
  .container-head {
    max-width: 428px;
  }
  .page-header .container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-header {
    border-bottom: 1px;
    background-color: var(--color-white);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container-header {
    /* width: 1158px; */

    display: flex;
  }

  .page-nav {
    display: flex;
  }
  .logo-type-web {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-right: 76px;
    display: flex;
    padding: 24px 0;
    width: 115px;
    height: 24px;
    margin-bottom: 25px;
  }

  .span-studio {
    color: var(--color-navy-blue);
  }
  /* LINKS-HEADER */

  .list {
    list-style: none;
  }

  .list-nav {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
  }

  .link {
    text-decoration: none;
  }
  .link:hover {
    color: var(--color-ocean);
  }
  .link:focus {
    color: var(--color-ocean);
  }
  .current {
    color: var(--color-ocean);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: var(--color-ocean);
    margin-top: 20px;
  }
  /* ADRESS  */
  .page-adress {
    font-style: normal;
  }

  .list-adress {
    list-style: none;
    gap: 40px;
  }

  .text-adress {
    font-family: var(--primary-font);
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-open-btn {
    margin-left: auto;
  }
  .mob-menu {
    background-color: var(--color-white);
    z-index: 20;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vw;
    padding: 10px;
  }
  .menu-close-btn {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .mob-menu-link-studio {
    font-family: var(--primary-font);
    font-weight: 700;
    size: 36px;
    line-height: 40px;
    color: var(--color-navy-blue);
    width: 148px;
    height: 40px;
    text-decoration: none;
    color: var(--color-ocean);
  }
  .mob-menu-link {
    font-family: var(--primary-font);
    font-weight: 700;
    size: 36px;
    line-height: 40px;
    color: var(--color-navy-blue);
    width: 148px;
    height: 40px;
    text-decoration: none;
  }
}

/* section-first */

@media screen and (min-width: 428px) {
  .container-first {
    max-width: 428px;
  }
  .container-page-one {
    margin: auto;
  }
  .section-page-one {
    background-color: var(--color-navy-blue);
    /* max-width: 1440px; */
    /* height: 600px; */
    margin: auto;
    padding-top: 130px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-title {
    font-family: var(--primary-font);
    color: var(--color-white);
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    height: 120px;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .button-title {
    font-family: var(--primary-font);
    background-color: var(--color-iris);
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px, 32, 16, 32;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-title:hover {
    background-color: var(--color-ocean);
  }
  .button-title:focus {
    background-color: var(--color-ocean);
  }
}
@media screen and (min-width: 768px) {
  /* HEADER */

  .page-header .container-head {
    align-items: center;
  }
  .page-header {
    border-bottom: 1px;
    background-color: var(--color-white);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .page-nav {
    display: flex;
  }
  .logo-type-web {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-right: 76px;
    display: flex;
    padding: 24px 0;
    width: 115px;
    height: 24px;
  }

  .span-studio {
    color: var(--color-navy-blue);
  }
  /* LINKS-HEADER */

  .list {
    list-style: none;
  }
  .scroll {
    display: flex;
    gap: 40px;
  }
  .list-nav {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
  }
  .menu-open-btn {
    display: none;
    margin-left: auto;
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    color: var(--color-ocean);
  }
  .link:focus {
    color: var(--color-ocean);
  }
  .current {
    color: var(--color-ocean);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: var(--color-ocean);
    margin-top: 20px;
  }
  /* ADRESS */

  .page-adress {
    font-style: normal;
    margin-left: auto;
  }

  .list-adress {
    list-style: none;
    display: flex;
    gap: 40px;
    display: block;
  }

  .text-adress {
    font-family: var(--primary-font);
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-first {
    max-width: 768px;
  }
  .section-page-one {
    background-color: var(--color-navy-blue);

    margin: auto;
    padding: 120px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .button-title {
    font-family: var(--primary-font);
    background-color: var(--color-iris);
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px, 32px, 16px, 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-title:hover {
    background-color: var(--color-ocean);
  }
  .button-title:focus {
    background-color: var(--color-ocean);
  }
}
@media screen and (min-width: 1158px) {
  .page-header {
    border-bottom: 1px;
    background-color: var(--color-white);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .container-first {
    max-width: 1158px;
  }

  .section-page-one {
    background-color: var(--color-navy-blue);
    max-width: 1440px;
    margin: auto;
    padding: 120px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .button-title {
    font-family: var(--primary-font);
    background-color: var(--color-iris);
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px, 32px, 16px, 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-title:hover {
    background-color: var(--color-ocean);
  }
  .button-title:focus {
    background-color: var(--color-ocean);
  }
}
/* section-two */
/* mobile */
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .section-page-two {
    padding: 96px 0;
  }
  .list-two {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0, auto;
  }
  .title {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 8px;
  }
  .text {
    color: var(--color-slate);
    font-family: var(--primary-font);
    /* line-height: 1.5; */
    font-size: 13px;
    letter-spacing: 0.01em;
    padding-bottom: 72px;
    height: 48px;
    font-weight: 500;
    margin-bottom: 72px;
  }
}
/* table */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .list-title-text {
    width: calc((100% - 72px) / 2);
  }
  .list-two {
    display: flex;
    gap: 50px;
  }
  .title {
    width: 126px;
    line-height: 40px;
    font-weight: 700;
    font-size: 36px;
    padding-left: 10px;
  }
  .text {
    width: 356px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 72px;
  }
}
/* computer-version */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section-page-two {
    padding: 120px 0;
  }
  .container-page-two {
    margin: auto;
  }

  .list-two {
    display: flex;
    list-style: none;
    gap: 24px;
  }
  .list-title-text {
    width: calc((100% - 72px) / 4);
  }
  .icon-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .title {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    height: 24px;
    margin-bottom: 8px;
    padding-right: 20px;
  }
  .text {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: 0.01em;
    padding-bottom: 72px;
    line-height: 24px;
    height: 72px;
    font-weight: 400;
    padding-right: 40px;
  }
}
/* section-foure */
/* mobile */
@media screen and (min-width: 428px) {
  .container-two {
    max-width: 428px;
  }

  .section-page-foure {
    padding: 120px 0;
    margin: auto;
    justify-content: center;
  }

  .section-title-foure {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-size: 36px;
    /* line-height: 1.11; */
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: auto;
    height: 40px;
    /* width: calc((100% - 72px) / 4); */
    font-weight: 700;
    margin-bottom: 72px;
  }

  .section-page-foure {
    background-color: var(--color-cloud);
    justify-content: center;
  }
  .list-card {
    list-style: none;
    /* display: flex; */
    gap: 16px;
    justify-content: center;
  }
  .text-team {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    /* line-height: 1.5; */
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: auto;
    text-align: center;
    margin-bottom: 8px;
    height: 24px;
    font-weight: 400;
  }
  .title-team {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    /* line-height: 1.2; */
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }
  .icon-list-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }
  .social-icon {
    width: 40px;
    height: 40px;
  }
  .icon-card {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon {
    fill: var(--color-cloud);
  }

  .icon-card:hover {
    background-color: var(--color-ocean);
  }
  .icon-card:focus {
    background-color: var(--color-ocean);
  }
  .team-card {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    /* width: calc((100% - 72px) / 4); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
    height: 428px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  .container-worker {
    margin-top: 32px;
  }
}
/* table */
@media screen and (min-width: 768px) {
  .container-two {
    max-width: 768px;
  }

  .section-page-foure {
    padding: 120px 0;
    margin: auto;
    justify-content: center;
  }

  .section-title-foure {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-size: 36px;
    /* line-height: 1.11; */
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: auto;
    height: 40px;
    /* width: calc((100% - 72px) / 4); */
    font-weight: 700;
    margin-bottom: 72px;
  }
  .container-page-foure {
    margin: auto;
  }
  .section-page-foure {
    background-color: var(--color-cloud);
  }
  .list-card {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 552px;
    margin: 0 auto;
  }
  .text-team {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    /* line-height: 1.5; */
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: auto;
    text-align: center;
    margin-bottom: 8px;
    height: 24px;
    font-weight: 400;
  }
  .title-team {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    /* line-height: 1.2; */
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .team-card {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 2);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
  }

  .icon-list-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }
  .icon-card {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon {
    fill: var(--color-cloud);
  }

  .icon-card:hover {
    background-color: var(--color-ocean);
  }
  .icon-card:focus {
    background-color: var(--color-ocean);
  }
}
/* computer-version */
@media screen and (min-width: 1158px) {
  .container-two {
    max-width: 1158px;
  }

  .section-page-foure {
    padding: 120px 0;
    margin: auto;
    justify-content: center;
  }

  .section-title-foure {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: auto;
    height: 40px;
    width: calc((100% - 72px) / 4);
    font-weight: 700;
    margin-bottom: 72px;
  }
  .container-page-foure {
    margin: auto;
  }
  .section-page-foure {
    background-color: var(--color-cloud);
  }
  .list-card {
    list-style: none;
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  }
  .text-team {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: auto;
    text-align: center;
    margin-bottom: 8px;
    height: 24px;
    font-weight: 400;
  }
  .title-team {
    color: var(--color-navy-blue);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }

  .team-card {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
    height: 428px;
  }

  .icon-list-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }
  .icon-card {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon {
    fill: var(--color-cloud);
  }

  .icon-card:hover {
    background-color: var(--color-ocean);
  }
  .icon-card:focus {
    background-color: var(--color-ocean);
  }
}
@media screen and (min-width: 428px) {
  .container-five {
    max-width: 428px;
  }

  .container-page-five {
    margin: auto;
  }
  .section-page-five {
    margin: auto;
    background-color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-customers {
    font-size: 36px;
    font-weight: 700;
    align-items: center;
    line-height: 40px;
    margin-bottom: 72px;
    color: var(--color-navy-blue);
    text-align: center;
  }
  .list-customers {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .icon-customers {
    /* display: flex; */
    fill: currentColor;
  }
  .icon-group {
    width: calc((100% - 120px) / 2);
    list-style: none;
    height: 88px;
  }
  .link-customers {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-light-slate);
    width: 180px;
  }
  .link-customers:hover {
    border-color: var(--color-ocean);
  }
  .link-customers:hover {
    color: var(--color-ocean);
  }
  .link-customers:focus {
    border-color: var(--color-ocean);
  }
  .link-customers:focus {
    color: var(--color-ocean);
  }
}
@media screen and (min-width: 768px) {
  .container-five {
    max-width: 768px;
  }

  .container-page-five {
    margin: auto;
    width: 1440px;
  }
  .section-page-five {
    margin: auto;
    background-color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-customers {
    font-size: 36px;
    font-weight: 700;
    align-items: center;
    line-height: 40px;
    margin-bottom: 72px;
    color: var(--color-navy-blue);
    text-align: center;
  }
  .list-customers {
    /* display: flex; */
    gap: 24px;
    flex-wrap: wrap;
  }
  .icon-customers {
    /* display: flex; */
    fill: currentColor;
  }
  .icon-group {
    width: calc((100% - 120px) / 3);
    list-style: none;
    height: 88px;
    margin-bottom: 72px;
  }
  .link-customers {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-light-slate);
  }
  .link-customers:hover {
    border-color: var(--color-ocean);
  }
  .link-customers:hover {
    color: var(--color-ocean);
  }
  .link-customers:focus {
    border-color: var(--color-ocean);
  }
  .link-customers:focus {
    color: var(--color-ocean);
  }
}
@media screen and (min-width: 1158px) {
  .container-five {
    max-width: 1158px;
  }

  .container-page-five {
    margin: auto;
  }
  .section-page-five {
    margin: auto;
    background-color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-customers {
    font-size: 36px;
    font-weight: 700;
    align-items: center;
    line-height: 40px;
    margin-bottom: 72px;
    color: var(--color-navy-blue);
    text-align: center;
  }
  .list-customers {
    gap: 24px;
  }
  .icon-customers {
    display: flex;
    fill: currentColor;
  }
  .icon-group {
    width: calc((100% - 120px) / 6);
    list-style: none;
    height: 88px;
  }
  .link-customers {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-light-slate);
  }
  .link-customers:hover {
    border-color: var(--color-ocean);
  }
  .link-customers:hover {
    color: var(--color-ocean);
  }
  .link-customers:focus {
    border-color: var(--color-ocean);
  }
  .link-customers:focus {
    color: var(--color-ocean);
  }
}
/* footer */
@media screen and (min-width: 428px) {
  .container-foot {
    max-width: 428px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo-footer {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    display: flex;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    width: 116.74px;
    height: 24px;
  }

  .container-footer {
    /* display: flex; */
    /* align-items: baseline; */
  }
  .logo-footer-container {
    /* margin-right: 120px; */
    margin-bottom: 72px;
    text-align: center;
  }
  .page-footer {
    background-color: var(--color-navy-blue);
    padding: 100px 0;

    height: 664px;
  }
  .footer-text {
    color: var(--color-cloud);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 268px;
    height: 72px;
    margin: 0 auto;
    text-align: left;
  }
  .span-studio-footer {
    color: var(--color-cloud);
  }
  .container-media {
    /* margin-right: 80px; */
    text-align: center;
    margin-bottom: 72px;
  }
  .title-media {
    font-family: var(--primary-font);
    color: var(--color-white);
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    /* display: flex; */
    line-height: 1.5;
  }
  .icon-footer {
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
  }
  .icon-ecllipse {
    width: 40px;
    height: 40px;
  }
  .link-footer {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-footer:hover {
    background-color: var(--color-green);
  }
  .link-footer:focus {
    background-color: var(--color-green);
  }
  .icon-end {
    fill: var(--color-cloud);
  }
  .container-subscribe {
    text-align: center;
  }
  .comment {
    color: var(--color-white);
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
    padding-left: 20px;
  }
  .form {
    /* display: flex; */
    gap: 24px;
  }
  .label {
    /* display: flex; */
    justify-content: center;

    opacity: 0.5;
  }
  .form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    width: 398px;
    margin-bottom: 16px;
  }
  .form-input::placeholder {
    color: var(--color-white);
  }
  .button-submite {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    color: var(--color-white);
    background-color: var(--color-iris);
    border: solid 1px;
    border-color: #4d5ae5;
    padding-right: 16px;
    padding-left: 24px;
    padding-bottom: 8px;
    min-width: 165px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .icon-telegramm {
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .container-foot {
    max-width: 768px;
  }
  .logo-footer {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    display: flex;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    width: 116.74px;
    height: 24px;
  }

  .container-footer {
    display: flex;
    /* align-items: baseline; */
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo-footer-container {
    /* margin-right: 120px; */
    margin-right: 24px;
    margin-bottom: 30px;
    text-align: left;
  }
  .page-footer {
    background-color: var(--color-navy-blue);
    padding: 100px 0;
    width: 768px;
    height: 456px;
  }
  .footer-text {
    color: var(--color-cloud);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 268px;
    height: 72px;
    margin: 0 auto;
  }
  .span-studio-footer {
    color: var(--color-cloud);
  }
  .container-media {
    /* margin-right: 80px; */
    text-align: left;
    margin-bottom: 80px;
  }
  .title-media {
    font-family: var(--primary-font);
    color: var(--color-white);
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    /* display: flex; */
    line-height: 1.5;
  }
  .icon-footer {
    display: flex;
    gap: 16px;
    list-style: none;
  }
  .icon-ecllipse {
    width: 40px;
    height: 40px;
  }
  .link-footer {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-footer:hover {
    background-color: var(--color-green);
  }
  .link-footer:focus {
    background-color: var(--color-green);
  }
  .icon-end {
    fill: var(--color-cloud);
  }
  .container-subscribe {
    padding-right: 60px;
  }
  .comment {
    color: var(--color-white);
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
    text-align: left;
  }
  .form {
    /* display: flex; */
    gap: 24px;
  }
  .label {
    /* display: flex; */
    justify-content: center;
    padding-left: 20px;
    opacity: 0.5;
  }
  .form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    width: 264px;
    height: 40px;
    margin-bottom: 16px;
  }
  .form-input::placeholder {
    color: var(--color-white);
  }
  .button-submite {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    color: var(--color-white);
    background-color: var(--color-iris);
    border: solid 1px;
    border-color: #4d5ae5;
    padding-right: 16px;
    padding-left: 24px;
    padding-bottom: 8px;
    min-width: 165px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .icon-telegramm {
    margin-left: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .container-foot {
    max-width: 1158px;
  }

  .logo-footer {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    display: flex;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    width: 116.74px;
    height: 24px;
    display: flex;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .logo-footer-container {
    margin-right: 120px;
  }
  .page-footer {
    background-color: var(--color-navy-blue);
    padding: 100px 0;
    width: 1440px;
    height: 312px;
  }
  .footer-text {
    color: var(--color-cloud);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
  }

  .span-studio-footer {
    color: var(--color-cloud);
  }
  .container-media {
    margin-right: 80px;
  }
  .title-media {
    font-family: var(--primary-font);
    color: var(--color-white);
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    display: flex;
    line-height: 1.5;
  }
  .icon-footer {
    display: flex;
    gap: 16px;
    list-style: none;
  }
  .icon-ecllipse {
    width: 40px;
    height: 40px;
  }
  .link-footer {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-footer:hover {
    background-color: var(--color-green);
  }
  .link-footer:focus {
    background-color: var(--color-green);
  }
  .icon-end {
    fill: var(--color-cloud);
  }
  .container-subscribe {
    padding-right: 60px;
  }
  .comment {
    color: var(--color-white);
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 8px;
  }
  .form {
    display: flex;
    gap: 24px;
  }
  .label {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    opacity: 0.5;
  }
  .form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .form-input::placeholder {
    color: var(--color-white);
  }
  .button-submite {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    color: var(--color-white);
    background-color: var(--color-iris);
    border: solid 1px;
    border-color: #4d5ae5;
    padding-right: 16px;
    padding-left: 24px;
    padding-bottom: 8px;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 24px;
    margin: 0 auto;
  }
  .icon-telegramm {
    margin-left: 16px;
  }
}
